<h1>Add a category</h1>
<p>Add a category here:</p>

<form action="/rooms" method="post">
  <label for="roomName">room name</label>
  <input id="roomName" name="roomName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/rooms">Back to room.</a></p>