@using MoveInPlan.Models;

<h3>Here are all the furniture in this room:</h3>

<ol>
@foreach (Furniture furniture in @Model.FurnitureList)
{
  <li><a href="">@furniture.Name</a></li>
}
</ol>

<p><a href='/room/@Model.Id/furniture/new'>Add a new furniture piece</a></p>
<p><a href='/rooms'>Return to room list</a></p>
<p><a href='/'>Return to Main Page</a></p>